 /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map{
	
    height: 400px;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#backgroundColor{
	background-color:#f2f2f2;
	height:100%;
	}

#main{
	background-color:white;
	margin-left:5%;
	width:90%;
	font-family: "Georgia", Times, serif;
	font-size: 1.1em;
	}
	
.spacer{
	background-color:#80d4ff;
	height:0.8em;
}

#header{
	background-image: url("backgroundimage/headerImage.png");
	text-align: center;
    font-family: "Georgia", Times, sans-serif;
}	
 #floating-panel {
        position: relative;
        float: right;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
}

nav{
	
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

ul li {
	text-align:center;
	display:inline;
	list-style-type: none;
	padding-left:10%;
	padding-right:5%;
} 

td{
	font-family: "Times New Roman", Times, serif;
	
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}